
:root{
    --font1: Verdana, Geneva, Tahoma, sans-serif;
    --font2: 'Passion One', cursive;
    --font3: 'Sriracha', cursive;
}
body{
    margin: 0;
}



header {
    background-color: black;
    text-align: center;
}
header h1{
    font-family: var(--font2);
    font-variant-caps: small-caps;
    font-size: 10vw;
    color: white;
    padding-top: 50px;
    margin-top: 0;
    margin-bottom: 0px;
}
header p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(255, 255, 255);
    margin-top: 0;
    padding-bottom: 50px;
    margin-bottom: 0;
}
header a{
    font-weight: bolder;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
header a:hover{
    text-decoration: underline;
}

.normal{
    background-color: rgb(255, 255, 255);
    font-family: var(--font3);
    padding: 10vh 0px 10vh 30px;
    font-size: 3.5vw;
}
.normal p{
    margin-top: 0;
    line-height: 2em;
}
.imagem{
    font-family: var(--font3);
    padding: 10vh 0px 8vh 25px;
    font-size: 3.5vw;
    box-shadow: 15px 15px 100px inset rgba(0, 0, 0, 0.938);
}
.imagem p{
    padding-left: 6px;
    padding-right: 5px;
    color: white;
    margin-top: 5px;
    margin-bottom: 6px;
    line-height: 2em;
    text-shadow: 1px 1px 3px black;
}
.imagem div{
    background-color: rgba(0, 0, 0, 0.555);
    display: inline-flex;
}
.imagem#img01{
    background-image: url('../imagens/background001.jpg');
    background-repeat: no-repeat;
    background-position: right center;
    background-size: cover;
    background-attachment: fixed;
}
#img02{
    background-image: url('../imagens/background002.jpg');
    background-position: bottom bottom;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}



footer{
    text-align: center;
    color: white;
    background: black;
    font-family: var(--font1)
}
footer p{
    padding: 10px;
    margin: 0;
}
footer a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}
footer a:hover{
    text-decoration: underline;
}


